body {
  width: 375px;
  height: 400px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.contract-name {
  margin-left: 15%;
}

img {
  border-radius: 5%;
}

.nft {
  margin: 12px;
}

.addressform {
  margin: 12px;
}
